/* Global SCSS file */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import './normalise.scss';
@import './/turretcss.min.scss';

* {
    font-family: Open Sans,sans-serif;
    box-sizing: border-box;
    color: inherit;
}

body {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #313131;
	margin: 0;
    background-color: #f6f6f6;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    background-image: url('~@/assets/images/dot_bkg.png');
}

input:focus, button:focus, span:focus, label:focus {
    outline: none!important;
}

button {
    display: inline-block;
    width: fit-content;
}